<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">

<suite name="Project" parallel="none">
    <listeners>
        <listener class-name="org.example.project.listeners.TestListener"/>
        <listener class-name="org.example.project.listeners.AnnotationTransformer"/>
    </listeners>

    <test name="Project test suite">
        <packages>
            <package name="selenium.*"/>
        </packages>
    </test>
</suite>